<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="header-title">
      <h1>Visualizando Funcionário</h1>
    </div>
  </div>
  <div class="card-body">
    <%= render @employee %>

    <div>
      <%= link_to t('edit'), edit_admin_employee_path(@employee), class: 'btn btn-primary' %> |
      <%= link_to t('back'), admin_employees_path, class: 'btn btn-default' %>

      <%= button_to t('destroy'), [:admin, @employee], method: :delete %>
    </div>
  </div>
</div>
