<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="header-title">
      <h4 class="card-title">Nova Empresa</h4>
    </div>
  </div>
  <div class="card-body">
    <%= render "form", company: @company %>

    <br>

    <div>
      <%= link_to t('back'), admin_companies_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
