<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="header-title">
      <h1>Visualizando empresa</h1>
    </div>
  </div>
  <div class="card-body">
    <%= render @company %>

    <div>
      <%= link_to t('edit'), edit_admin_company_path(@company), class: 'btn btn-primary' %> |
      <%= link_to t('back'), admin_companies_path, class: 'btn btn-default' %>

      <%= button_to t('destroy'), [:admin, @company], method: :delete %>
    </div>
  </div>
</div>
