<table id="basic-table-result" class="table table-striped mb-0" role="grid">
  <thead class="text-primary">
  <tr>
    <th>Descrição</th>
    <th>Alíquota</th>
    <th>Proventos</th>
    <th>Descontos</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
   <td>Valor Líquido das Férias</td>
    <td>R$ 1.000,00</td>
  </tr>
  </tbody>
</table>